.addAirlineHeader,form{
    text-align: center;
    font-family: monospace;
    padding-top: 10px;
}

.searchButton{
    background-color: lightpink;
    font-family: sans-serif;
    margin-left: 10px;

  }
  
  
  .input{
    font-family: cursive;
  }

  .submitmsg{
    color:rgb(8, 248, 8);
    padding-left: 22rem;
    font-family: monospace;
}